/* INFO LTD */
footer {

    background-color: #15171a;
    color: white;
    font-weight: bold;
    text-align: center;

}
body
{

    background-color: black;

}
/* FORMULARIO DE CAD */
main
{

    background-color: whitesmoke;
    box-shadow: 0px 5px 50px rgb(255, 255, 255,0.500); 
    border-radius: 2vh;
    padding: 4vh;
    margin: 10vh;
    margin-top: 15vh;
    
}
label
{

    margin-right: 2vh;
    font-size: large;

}
.navbar
{

    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5); 

}
/* CAMPOS DA MESMA LINHA (desktop) */
.uf-cidade-box
{

    display: flex;
    flex-direction: row;

}
.nacionalidade-naturalidade-box
{

    display: flex;
    flex-direction: row;

}
.est-civel-nasc-box
{

    display: flex;
    flex-direction: row;

}
.rg-cpf-box
{

    display: flex;
    flex-direction: row;

}
.fone-email-box
{

    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 768px)
{
    /* diminui a margem do form */
    main
    {
        margin: 2vh;
        margin-top: 15vh;
    }
    /* campos espacados da mesma linha */
    #UF, #nacionalidade, #estado_civil, #fone, #email, #rg, #cpf
    {
    
        margin-bottom: 3vh;
    
    }
    
    /* CAMPOS DA MESMA LINHA (desktop) */

    .uf-cidade-box
    {

        display: flex;
        flex-direction: column;
    
    }
    .nacionalidade-naturalidade-box
    {
    
        display: flex;
        flex-direction: column;
    
    }
    .est-civel-nasc-box
    {
    
        display: flex;
        flex-direction: column;
    
    }
    .rg-cpf-box
    {
    
        display: flex;
        flex-direction: column;
    
    }
    .fone-email-box
    {
    
        display: flex;
        flex-direction: column;
    
    }
}